

<%= link_to 'Nuevo Lugar', new_lugar_path %>

<h1>LUGARES TURISTICOS</h1>

<% @lugars.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |lugar| %>
      <div class="col-md-4">
        <h4><%= link_to lugar.nombre, lugar %></h4>
        <p><%= lugar.descripcion %></p>
        <p><%= lugar.rating %></p>
        <%= image_tag lugar.foto_url, height: 200 if lugar.foto.present?%>
      </div>
    <% end %>
  </div>
<% end %>
