<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @lugar.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @lugar.descripcion %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @lugar.rating %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@lugar.foto_url, :width => 600) if @lugar.foto.present? %>
</p>

<%= link_to 'Edit', edit_lugar_path(@lugar) %> |
<%= link_to 'Back', lugars_path %>
